<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Carga de Alumnos</title>
    <!-- Incluir Bootstrap desde un CDN -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script>
      function mostrarCargando() {
        document.getElementById("loading").style.display = "block";
      }

      function ocultarTodosLosMensajes() {
        var mensajes = document.getElementsByClassName("message");
        for (var i = 0; i < mensajes.length; i++) {
          mensajes[i].style.display = "none";
        }
      }
    </script>
    <style>
      #loading {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 20px;
        border-radius: 10px;
        z-index: 1000;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Carga de Alumnos</h1>
      <form
        method="post"
        enctype="multipart/form-data"
        onsubmit="mostrarCargando()"
      >
        {% csrf_token %} {{ form.as_p }}
        <div class="form-group">
          <label for="periodo">Período</label>
          <select name="periodo" id="periodo" class="form-control" required>
            {% for periodo in periodos %}
            <option value="{{ periodo.id }}">{{ periodo.codigo }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Cargar Archivo</button>
      </form>
      <div id="loading" class="mt-3">
        <p>Cargando... Por favor, espera.</p>
      </div>
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} mt-3 message">
        {{ message }}
      </div>
      {% endfor %} {% if messages %}
      <button
        class="btn btn-secondary mt-3"
        onclick="ocultarTodosLosMensajes()"
      >
        OK
      </button>
      {% endif %}
    </div>
    <!-- Incluir Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
