<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carga de Alumnos</title>
  </head>

  <body>
    <h1>Carga de Alumnos</h1>

    <!-- Mostrar mensajes de error si los hay -->
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <!-- Formulario para subir el archivo Excel -->
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}

      <button type="submit">Subir</button>
    </form>
  </body>
</html>
