# Ignorar archivos bytecode de Python
__pycache__/
*.pyc

# Ignorar entornos virtuales
venv/
.env/

# Ignorar archivos de configuración y datos sensibles
*.save
*.json

# Ignorar instaladores
*.sh

# Ignorar archivos estáticos generados
staticfiles/

# Ignorar archivos sensibles
.env
.DS_Store

# Ignorar archivos de logs
*.log

# Ignorar archivos de base de datos
*.sqlite3

# Ignorar archivos de configuración de IDE
.idea/

# Ignorar archivos de entorno virtual
.si/

# Ignorar archivos de caché de Python
__pycache__/
*.py[cod]

si