asgiref 
cffi 
cryptography 
defusedxml==0.7.1
diff-match-patch==20230430
Django 
django-import-export==3.2.0
et-xmlfile==1.1.0
MarkupPy==1.14
odfpy==1.4.1
openpyxl==3.1.2
Pillow==9.4.0
pycparser 
PyMySQL 
PyYAML==6.0.1
reportlab 
sqlparse 
tablib==3.5.0 
tzdata 
xlrd==2.0.1
xlwt==1.3.0



qrcode[pil]
