{% extends 'base.html' %} {% block title %}Sistema de Inscripciones ENaCif
{%endblock title %} {% block body %}
<br />
<div class="d-flex align-items-center justify-content-center">
  <h1>Sistema de Inscripciones ENaCIF</h1>
</div>
<br />
<div class="card">
  
  <div class="card-header">Alumnos : {{user.first_name}} {{user.last_name}}</div>
  <div class="card-header">Asignaturas Inscritas perido : {{periodo}}</div>
  <div class="card-body">
    <h4 class="card-title">Asignaturas</h4>
    <div class="table-responsive">
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">CLAVE</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">CREDITOS</th>
            <th scope="col">CARACTER</th>
            <!-- <th scope="col">GRUPO</th>-->
          </tr>
        </thead>
        <tbody>
          {% for asignatura in asignaturas_inscritas %}
          <tr class="">
            <td scope="row">
              {% if asignatura.clave_asignatura|length < 4 %}0{% endif %}{{asignatura.clave_asignatura }}
            </td>

            <td>{{ asignatura.denominacion }}</td>
            <td>{{ asignatura.creditos }}</td>
            <td>{{ asignatura.get_caracter_display }}</td>
            <!-- <td>
                                {% for inscripcion in asignatura.inscripcion_set.all %}
                                    {% for grupo in inscripcion.grupo.all %}
                                        {{ grupo }}
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </td>-->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div>
      Da click en el boton de Aceptar para generar tu comprobate de inscripción
    </div>
    <br />
    <button id="btnAceptar" class="btn btn-primary">Aceptar</button>
    <div id="comprobante" style="display: none">
      <!-- ... -->
      <form
        method="post"
        action="{% url 'generar_comprobante' alumno_id=user.numero_cuenta %}"
      >
        {% csrf_token %}
        <input
          type="hidden"
          name="alumno_id"
          value="{{ user.numero_cuenta }}"
        />
        <button type="submit" class="btn btn-secondary">
          Generar Comprobante
        </button>
      </form>
      <!-- ... -->
    </div>
  </div>
</div>
<div class="card-footer text-muted">ENaCIF</div>

<script>
  document.getElementById("btnAceptar").addEventListener("click", function () {
    document.getElementById("btnAceptar").style.display = "none";
    document.getElementById("comprobante").style.display = "block";
  });
</script>
{% endblock body %}
