{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
  body {
    background: url('{% static "img/enacif_plantel.jpg" %}') no-repeat center center fixed;
    background-size: cover;
  }
</style>

  <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6 p-4" style="background: #f8f9fa; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      {% if messages %}
        <div class="alert alert-danger" role="alert">
          {% for message in messages %}
            <p class  ="mb-1">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
      
      <h3 class="text-center mb-4" style="color: #007bff;">Iniciar Sesión</h3>
      <p class="text-muted text-center mb-4">Coloca tu número de cuenta sin espacios. La sesión se cerrará automáticamente después de 30 minutos.</p>
      
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="numero_cuenta" class="font-weight-bold">Número de Cuenta:</label>
          <input type="text" name="numero_cuenta" id="numero_cuenta" class="form-control form-control-lg" placeholder="Ej: 12345678" required>
        </div>
  
        <div class="form-group">
          <label for="password" class="font-weight-bold">Contraseña:</label>
          <input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="••••••••" required>
        </div>
  
        <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Iniciar sesión</button>
      </form>
    </div>
  </div>
{% endblock body %}
