{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
  body {
    background-image: url("{% static 'img/enacif_plantel.png' %}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }

  .floating-div {
    position: absolute; /* Cambia a absolute para que el div sea flotante */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
    background-color: rgba(17, 16, 16, 0.57); /* Fondo azul con 80% de opacidad */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(1, 74, 141);
    z-index: 1000; /* Asegura que el div esté por encima de otros elementos */
    padding: 20px; /* Añadir padding para el contenido */
  }
</style>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="col-md-6 p-4 floating-div">
    {% if messages %}
      <div class="alert alert-danger" role="alert">
        {% for message in messages %}
          <p class="mb-1">{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
    
    <h3 class="text-center mb-4" style="color: aliceblue;">Iniciar Sesión</h3>
    <p class="text-center mb-4" style="color: aliceblue;">Coloca tu número de cuenta sin espacios. La sesión se cerrará automáticamente después de 30 minutos.</p>
    
    <form method="POST">
      {% csrf_token %}
      <div class="form-group" >
        <label for="numero_cuenta" class="font-weight-bold" style=" color: aliceblue;">Número de Cuenta:</label>
        <input type="text" name="numero_cuenta" id="numero_cuenta" class="form-control form-control-lg" placeholder="Ejemplo : 312245678" required>
      </div>

      <div class="form-group">
        <label for="password" class="font-weight-bold" style="color: aliceblue;">Contraseña:</label>
        <input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="Ejemplo : PEREZ312245678" required>
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Iniciar sesión</button>
    </form>
  </div>
</div>
{% endblock body %}